body{
    background: #F9F0F0; 
}
 
hr { background-color: gray; height: 1px; border: 0; }

h1 {font-family: questa-grande, serif; 
    font-style: normal;
    font-weight: 300;
    text-align: left;}

h4
    {font-family: brandon-grotesque, sans-serif; 
     font-style: normal;
     font-weight: 200;
     text-align: left;}
p 
    {text-align:justify;left;}





   



